*{border: 0;
    margin: 0;
padding: 0;}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(web-development-application-design-coding-and-programming-on-laptop-and-smartphone-concept-with-programming-language-and-.jpg);
    background-color: black;
}

header{
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.192);
}

.titulo{
    color: white;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
}
.titulo > span{
    color: rgb(70, 43, 226);
}


#sessa1{
  
    padding: 90px;
    border: 15px solid rgba(255, 255, 255, 0.653);
    width: 19vw;
    margin-left: 35%;
    margin-top: 2%;
    border-radius: 30px;
    background-color: rgba(114, 114, 114, 0.557);
}
.titulo-cadastro{
    color: rgb(183, 233, 244);
    text-align: center;
    font-size: 50px;
    font-weight: 450;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.formu > div{
    margin-left: -60px;
    margin-top: 16%;
width: 100%;

}


.formu > div > input{
    background-color: rgba(0, 0, 0, 0);
    width: 25vw;
    font-weight: 450;
   text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 21px;
    height: 20px;
    border-bottom: 2px solid black;
}

.formu > div > input:hover{
    opacity: 67%;
}

#sessa1> .botao1{
 margin-left: 1%;
 margin-top: 7%;
    background-color: rgb(43, 15, 228);
    border: 1px solid white;
    color: white;
    width: 100%;
    height: 59px;
    border-radius: 10px;
}

#sessa1> .botao1:hover{
    opacity: 5
    0%;
    cursor: pointer;
    transition: 2.3s;
    border: 3px solid white;
}

#sessa1 > .cadastrar  {
   
    text-align: center;
  margin: 29px;
}


#sessa1 > .cadastrar > a{

    color: rgb(0, 0, 0);
font-size: 18px;
font-weight: 400;
margin-top: 6%;
    opacity: 80%;
}